org.skinsoft.nuxeo.ide.uml.demo/src/main/resources/schemas/directorySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:directorySchema="http://demo.uml.ide.nuxeo.skinsoft.org/schemas/directorySchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://demo.uml.ide.nuxeo.skinsoft.org/schemas/directorySchema">
  <xs:element name="value" type="xs:string"/>
  <xs:element name="label" type="xs:string"/>
  <xs:element name="id" type="xs:int"/>
</xs:schema>
